/* desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) { 
    .home-section {
        padding: 24px 16px;
    }
}

/* desktop-small */
@media all and (min-width: 481px) and (max-width: 840px) {
    .home-section {
        padding: 32px 24px;
    }    
}

/* desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) {
    .home-section {
        padding: 32px 64px;
    }    
}

/* desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) { 
    .home-section {
        padding: 32px 192px;
    }    
}

/* desktop-xlarge */
@media all and (min-width: 1601px) {
    .home-section {
        padding: 32px 320px;
    }    
}